<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="6.0">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>addStudent.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>homeServlet</servlet-name>
    <servlet-class>student.studentList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeServlet</servlet-name>
    <url-pattern>/home*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>homeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  	<servlet-mapping>
	  	<servlet-name>LoginServlet</servlet-name>
	  	<url-pattern>/failure.jsp</url-pattern>
 	</servlet-mapping>
  	<servlet>
	  	<servlet-name>AddStudentServlet</servlet-name>
	  	<servlet-class>student.addStudent</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>AddStudentServlet</servlet-name>
	  	<url-pattern>/add-student</url-pattern>
  	</servlet-mapping>
  	<servlet>
	  	<servlet-name>DeleteStudentServlet</servlet-name>
	  	<servlet-class>student.deleteStudent</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>DeleteStudentServlet</servlet-name>
	  	<url-pattern>/delete-student</url-pattern>
  	</servlet-mapping>
  
  	<servlet>
	  	<servlet-name>SearchStudentServlet</servlet-name>
	  	<servlet-class>student.searchStudent</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>SearchStudentServlet</servlet-name>
	  	<url-pattern>/search-student</url-pattern>
  	</servlet-mapping>
  
 	<servlet>
	  	<servlet-name>EditStudentServlet</servlet-name>
	  	<servlet-class>student.editStudent</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>EditStudentServlet</servlet-name>
	  	<url-pattern>/edit-student</url-pattern>
  	</servlet-mapping>
  
 	<servlet>
	  	<servlet-name>ListCourseServlet</servlet-name>
	  	<servlet-class>course.courseList</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>ListCourseServlet</servlet-name>
	  	<url-pattern>/course-list</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
	  	<servlet-name>ListCourseServlet</servlet-name>
	  	<url-pattern>/course-list*</url-pattern>
  	</servlet-mapping>
  
  
   	<servlet>
	  	<servlet-name>AddCourseServlet</servlet-name>
	  	<servlet-class>course.addCourse</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>AddCourseServlet</servlet-name>
	  	<url-pattern>/add-course</url-pattern>
  	</servlet-mapping>
   	<servlet>
	  	<servlet-name>DeleteCourseServlet</servlet-name>
	  	<servlet-class>course.deleteCourse</servlet-class>
	</servlet>
  	<servlet-mapping>
	  	<servlet-name>DeleteCourseServlet</servlet-name>
	  	<url-pattern>/delete-course</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
	  	<servlet-name>SearchCourseServlet</servlet-name>
	  	<servlet-class>course.searchCourse</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>SearchCourseServlet</servlet-name>
	  	<url-pattern>/search-course</url-pattern>
  	</servlet-mapping>
  
 	<servlet>
	  	<servlet-name>EditCourseServlet</servlet-name>
	  	<servlet-class>course.editCourse</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>EditCourseServlet</servlet-name>
	  	<url-pattern>/edit-course</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
	  	<servlet-name>StudentOfCourseServlet</servlet-name>
	  	<servlet-class>course.listStudentOfCourse</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>StudentOfCourseServlet</servlet-name>
	  	<url-pattern>/course-student</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
	  	<servlet-name>StudentOfCourseServlet</servlet-name>
	  	<url-pattern>/course-student*</url-pattern>
  	</servlet-mapping>
  	<servlet>
	  	<servlet-name>DeleteStudentOfCourseServlet</servlet-name>
	  	<servlet-class>course.deleteStudentInCourse</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>DeleteStudentOfCourseServlet</servlet-name>
	  	<url-pattern>/course-delete-student</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
	  	<servlet-name>AddStudentIntoCoureServlet</servlet-name>
	  	<servlet-class>course.addStudentInCourse</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>AddStudentIntoCoureServlet</servlet-name>
	  	<url-pattern>/course-add-student*</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
	  	<servlet-name>AddStudentIntoCoureServlet</servlet-name>
	  	<url-pattern>/course-add-student</url-pattern>
  	</servlet-mapping>
  
    <servlet>
	  	<servlet-name>SearchStudentByNameServlet</servlet-name>
	  	<servlet-class>student.findStudentByName</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>SearchStudentByNameServlet</servlet-name>
	  	<url-pattern>/find-student*</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
	  	<servlet-name>SearchStudentByNameServlet</servlet-name>
	  	<url-pattern>/find-student</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
	  	<servlet-name>SearchCourseByNameServlet</servlet-name>
	  	<servlet-class>course.findCourseByName</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>SearchCourseByNameServlet</servlet-name>
	  	<url-pattern>/find-course*</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
	  	<servlet-name>SearchCourseByNameServlet</servlet-name>
	  	<url-pattern>/find-course</url-pattern>
  	</servlet-mapping>
  	<servlet>
	  	<servlet-name>SearchCourseOfStudentServlet</servlet-name>
	  	<servlet-class>student.CourseOfStudent</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>SearchCourseOfStudentServlet</servlet-name>
	  	<url-pattern>/courses-of-student*</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
	  	<servlet-name>SearchCourseOfStudentServlet</servlet-name>
	  	<url-pattern>/courses-of-student</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
	  	<servlet-name>ScoreStudentServlet</servlet-name>
	  	<servlet-class>student.ScoreStudent</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>ScoreStudentServlet</servlet-name>
	  	<url-pattern>/score-student</url-pattern>
  	</servlet-mapping>
</web-app>
